<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    
    <context-param>
        <param-name>org.omnifaces.FACES_VIEWS_SCAN_PATHS</param-name>
        <param-value>/*.xhtml</param-value>
    </context-param>

    <mime-mapping>
        <extension>ttf</extension>
        <mime-type>application/x-font-ttf</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>woff</extension>
        <mime-type>application/x-font-woff</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>woff2</extension>
        <mime-type>application/x-font-woff2</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>eot</extension>
        <mime-type>application/x-font-eot</mime-type>
    </mime-mapping>
    <context-param>
        <param-name>javax.faces.validator.DISABLE_DEFAULT_BEAN_VALIDATOR</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.FACELETS_SKIP_COMMENTS</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>buildTimeStamp</param-name>
        <param-value>${timestamp}</param-value>
    </context-param>
    <context-param>
        <param-name>primefaces.FONT_AWESOME</param-name>
        <param-value>true</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
        <tracking-mode>COOKIE</tracking-mode>
    </session-config>
    <welcome-file-list>
        <welcome-file>/pp/inicio.xhtml</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>408</error-code>
        <location>/pp/inicio.xhtml</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/pp/inicio.xhtml</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/pp/inicio.xhtml</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/pp/inicio.xhtml</location>
    </error-page>
    <error-page>
        <exception-type>javax.faces.application.ViewExpiredException</exception-type>
        <location>/pp/inicio.xhtml</location>
    </error-page>
    <error-page>
        <exception-type>javax.servlet.ServletException</exception-type>
        <location>/pp/inicio.xhtml</location>
    </error-page>
    
    
           
<!--    <filter>
        <filter-name>noCache</filter-name>
        <filter-class>org.omnifaces.filter.CacheControlFilter</filter-class>
    </filter>
 
    <filter-mapping>
        <filter-name>noCache</filter-name>
        <servlet-name>Faces Servlet</servlet-name>
    </filter-mapping>
    -->
    
    <security-constraint>
        <display-name>Recursos privados</display-name>
        <web-resource-collection>
            <web-resource-name>privados_resources</web-resource-name>
            <url-pattern>/pp/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>RA_AE_ANONIMO</role-name>
            <role-name>RA_AE_ADMINISTRADOR</role-name>
            <role-name>RA_AE_PLANIFICADOR</role-name>
            <role-name>RA_AE_FCALL_CENTER</role-name>
            <role-name>RA_AE_FATENCION</role-name>
            <role-name>RA_AE_LLAMADOR</role-name>
            <role-name>RA_AE_ADMINISTRADOR_DE_RECURSOS</role-name>
            <role-name>autenticados</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>NONE</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
<!--     <security-constraint> -->
<!--         <web-resource-collection> -->
<!--             <web-resource-name>Pagina redirect iduruguay</web-resource-name> -->
<!--             <url-pattern>/iduruguayRedirect/*</url-pattern> -->
<!--         </web-resource-collection> -->
<!--         <auth-constraint> -->
<!--             <role-name>usuario_autenticado</role-name> -->
<!--         </auth-constraint> -->
<!--     </security-constraint> -->
    <security-role>
        <role-name>usuario_autenticado</role-name>
    </security-role>
    <security-role>
        <role-name>RA_AE_ADMINISTRADOR</role-name>
    </security-role>
    <security-role>
        <role-name>RA_AE_PLANIFICADOR</role-name>
    </security-role>
    <security-role>
        <role-name>RA_AE_FATENCION</role-name>
    </security-role>
    <security-role>
        <role-name>RA_AE_FCALL_CENTER</role-name>
    </security-role>
    <security-role>
        <role-name>RA_AE_LLAMADOR</role-name>
    </security-role>
    <security-role>
        <role-name>RA_AE_ANONIMO</role-name>
    </security-role>  
    <security-role>
        <role-name>RA_AE_ADMINISTRADOR_DE_RECURSOS</role-name>
    </security-role>
    <security-role>
        <role-name>autenticados</role-name>
    </security-role>
<!--     AUTENTICACION LOCAL -->
    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/pub/login.xhtml</form-login-page>
            <form-error-page>/pub/error.xhtml</form-error-page>
        </form-login-config>
    </login-config>
    
    
<!--    <filter>
        <filter-name>j_security_fix</filter-name>
        <filter-class>uy.com.sofis.web.filtros.JAASFixFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>j_security_fix</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping> -->

    
</web-app>
