*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
#*.jar
*.war
*.ear

# build files
**/target
target
.gradle
build
/JavaApplication2/nbproject/private/
/sae-users-documentacion/dist/

# ECLIPSE SPECIFIC
.project
.project/
.settings/
.classpath
bin/